<h1>Editar Cliente</h1>

<%= render 'form', cliente: @cliente %>

<button type="button" class="btn btn-default"><%= link_to 'Visualizar', @cliente %> </button>

<button type="button" class="btn btn-default"><%= link_to 'Regresar', clientes_path %> </button>
