<h1>Editar Producto</h1>

<%= render 'form', producto: @producto %>

<button type="button" class="btn btn-default"><%= link_to 'Visualizar', @producto %> </button>

<button type="button" class="btn btn-default"><%= link_to 'Regresar', productos_path %></button>
