<h1>Editar Ordenes</h1>

<%= render 'form', ordene: @ordene %>

<button type="button" class="btn btn-default"><%= link_to 'Visualizar', @ordene %> </button>

<button type="button" class="btn btn-default"><%= link_to 'Regresar', ordenes_path %> </button>

